.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.greeting {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #555961;
  border-radius: 15px;
  opacity: 0.9;
}

span {
  font-weight: bold;
  color: #61dafb;
  opacity: 0.8;
}

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.eventcard {
  width: 200px;
  background-color: #555961;
  padding: 0 10px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease;

}

.eventcard:hover {
  opacity: 1;
  padding: 0 20px;
}