.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: all 0.5s;
  padding: 20px 0px;
}


.container.dark {
  background-color: #282c34;

}

.container.light {
  background-color: #f9f9f9;
  color: rgb(34, 34, 34);

}

form {
  display: flex;
  align-items: center;
}

p {
  font-size: 14px;
  /* text-transform: uppercase; */
}

.task {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #838589;
  border-radius: 15px;
  align-items: center;
}

input {
  height: 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
}


h3 {
  text-align: center;
}

ul {
  list-style: decimal;
}

.textfield {
  background-color: #838589;
  border: none;
  border-radius: 5px;
}